In [1]:
a=3 # 변수 a에 3 대입

In [2]:
b=4 # 변수 b에 4 대입

In [3]:
c=123+456*6 # 변수 c에123+456*6을 계산한 값 대입

In [4]:
a,b,c # a,b,c 각각 값 출력

(3, 4, 2859)

In [5]:
a+b=c # 수식 = 변수는 불가능

SyntaxError: cannot assign to operator (1001618493.py, line 1)

In [6]:
123+456=a # 수식 = 변수는 불가능

SyntaxError: cannot assign to operator (1236383597.py, line 1)

In [7]:
a=1 # 변수 a에 수치형 값 1 대입

In [8]:
a=a+"안녕" # a는 수치형인데 문자형과의 덧셈 error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
a="abc" #a에 다시 문자를 대입하는 순간 a형은 문자형이 됨

In [10]:
a=a+"안녕" # 문자형 + 문자형 = 문자형 붙여쓰기

In [11]:
a # a 값 출력

'abc안녕'

In [12]:
a=1 # 변수 a에 1 대입

In [13]:
b=2 # 변수 b에 2 대입

In [14]:
a,b # a,b 값 출력

(1, 2)

In [15]:
a,b=b,a # a,b=b,a 로 a,b변수의 값을 서로 바꿀 수 있음

In [16]:
a,b # 바뀐 a,b 값 출력

(2, 1)

In [18]:
a,b,c,d,e,f=1,2,"안녕","하셔요",3,4 # 여러 변수를 한번에 대입 가능

In [19]:
a,b,c,d,e,f # 여러 변수 출력

(1, 2, '안녕', '하셔요', 3, 4)

In [20]:
a=b=1 # 변수 a, b에 1 대입

In [21]:
a,b # a, b 값 출력

(1, 1)

In [22]:
b=2 # b에 2 대입

In [23]:
a,b # a, b 값 출력

(1, 2)

In [24]:
a=b=[1,2,3] # 변수 a, b에 컬렉션 값 대입 => 같은 변수 공유

In [25]:
a,b # a, b 출력

([1, 2, 3], [1, 2, 3])

In [26]:
a[1]=4 # a의 index 첫번째 값 4 대입

In [27]:
a,b # 컬렉션은 변수를 공유하는 것이기 때문에 b도 같이 바뀐다

([1, 4, 3], [1, 4, 3])

In [28]:
a=[1,2,3,4,5] # 변수 a에 컬렉션 값 대입

In [29]:
b=a[:] # 변수 b에 a의 컬렉션 값 전부 공유

In [30]:
a,b # a, b 출력

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [31]:
a[2]=5 # a의 3번째 값에 5 대입

In [32]:
a,b # 컬렉션은 변수를 공유하는 것이기 때문에 b도 같이 바뀐다

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5])

In [33]:
import sys # 파이썬에서 기본적으로 제공되는 sys 모듈을 현재 작업 환경에서 사용할 수 있도록 가져오는 코드

In [34]:
a=123 # a=123 이라고 정의

In [35]:
sys.getrefcount(123) # 123을 어느 공간에 만들어 놓고 참조하는 방식

28

In [36]:
b=123;sys.getrefcount(123) # b=123을 만나면 참조횟수가 증가함

30

In [37]:
c=123;sys.getrefcount(123) # c=123을 만나면 참조횟수가 증가함

31

In [38]:
1+2*3/4 # 사칙연산 순으로 계산 곱셈-나눗셈-덧셈 순

2.5

In [39]:
2**3 # 2의 3제곱

8

In [40]:
10/3 # 10 나누기 3

3.3333333333333335

In [41]:
1e12*123456789012 # 1e12은 10의 12승을 의미

1.23456789012e+23

In [42]:
a=1+2j # a에 복소수 값 대입

In [43]:
a+(123+12j) # 괄호 안에 곱셈 계산 먼저

(124+14j)

In [44]:
5/2 # 실수형 연산자(/) 사용한 값은 실수형

2.5

In [45]:
5//2 # 정수형 연산자(//) 사용한 값은 정수형 = 몫

2

In [46]:
5%2 # 정수형 연산자(%) 사용한 값은 정수형 = 나머지

1

In [47]:
a=1;a=a+1;print(a) # 변수 a에 1 대입, 변수 a에 a+1 대입, 출력

2

In [48]:
a=1;a+=1;print(a) # 누적 : a= a+1 → a +=a 로 표시

2

In [49]:
a*=2;a # a * 2 를 변수 a에 대입, a 출력

4

In [50]:
a*=2;a # a * 2 를 변수 a에 대입, a 출력

8

In [51]:
a=1;a-=1;a # 변수 a에 1 대입, 변수 a에 a-1 대입, 출력

0

In [52]:
a-=1;a # 변수 a에 1 대입, 변수 a에 a-1 대입, 출력

-1

In [53]:
a=1 # 변수 a에 1 대입

In [54]:
a++ # a++, a-- 사용 불가

SyntaxError: invalid syntax (1277751513.py, line 1)

In [55]:
a-- # a++, a-- 사용 불가

SyntaxError: invalid syntax (1562500846.py, line 1)

In [58]:
a=+ 1; a # 변수 a에 양수를 저장하고 출력

1

In [59]:
 a=- 1 ; a # 변수 a에 음수를 저장하고 출력

-1

In [60]:
a="멍멍이" # 변수 a에 문자열 멍멍이 대입

In [61]:
b="고양이" # 변수 b에 문자열 고양이 대입

In [62]:
a+b # 문자열의 덧셈

'멍멍이고양이'

In [63]:
a*3+b*2 # 멍멍이 세번 반복 후 고양이 두번 반복을 이어 붙이기

'멍멍이멍멍이멍멍이고양이고양이'

In [64]:
"-"*20 # "-" 20 번 반복

'--------------------'

In [65]:
a=1 # 변수 a에 1 대입

In [66]:
b="강아지"+a+"마리" # 문자형과 숫자형의 덧셈은 error

TypeError: can only concatenate str (not "int") to str

In [67]:
b="강아지"+str(a)+"마리" # 숫자형 변수를 str()을 이용해 문자형으로 강제 형변환

In [68]:
b # b 출력

'강아지1마리'

In [69]:
ord("가") # 파이썬 내장 함수인 ord()를 이용하여 문자 "가"의 유니코드 값을 반환하는 코드

44032

In [70]:
hex(ord("a")) # 파이썬 내장 함수인 hex()를 이용하여 문자 "a"의 유니코드 값을 16진수로 출력하는 코드

'0x61'

In [71]:
# 문자 "a"부터 "z"까지의 유니코드 값을 16진수와 해당 문자로 출력하는 코드
for c in range (ord('a'), ord('z')+1): # range() 함수를 이용하여 문자 "a"부터 "z"까지의 유니코드 값을 생성
    print(hex(c),"=",chr(c),", ",end="") # hex() 함수를 이용하여 16진수로 변환한 후, chr() 함수를 이용하여 해당 유니코드에 대응하는 문자를 출력
    # 출력 결과를 줄바꿈 없이 한 줄에 출력하기 위해 ", end=''"를 사용

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [72]:
a="123"; a+1 # 문자형과 숫자형의 덧셈은 error

TypeError: can only concatenate str (not "int") to str

In [73]:
a="123"; int(a)+1 # 문자형을 정수형으로 변환 수 + 1

124

In [74]:
a=12.3; int(a) # 실수형을 정수형으로 변환하면 소수점 이하 절삭

12

In [75]:
a="12.3";int(a) # 문자형을 정수형으로 강제형변환 하려헀지만 실수형이라 error

ValueError: invalid literal for int() with base 10: '12.3'

In [76]:
float(a) # 실수형으로 강제형변환

12.3

In [77]:
a=1.1;1+a+12 # 변수에 1.1 대입, 정수와 실수의 합 출력

14.1

In [84]:
1+int(a)+12 # 실수형 정수형으로 강제 형변환 후 계산하여 출력

14

In [79]:
int(3.14)

3

In [80]:
round(3.14);round(3.14,1);

In [81]:
round(3.14); round(3.14,1); round(123456,-4)

120000

In [82]:
int(3.14) # 실수형 정수형으로 강제형변환

3

In [83]:
round(3.14) # round 반올림하여 정수형을 반환하는 코드

3

In [85]:
round(3.14,1) # 내장 함수 round()를 이용하여 소수점 첫째 자리에서 반올림한 값을 반환하는 코드

3.1

In [86]:
round(123456,-4) # 내장 함수 round()를 이용하여 넷째 자리에서 반올림한 값을 반환하는 코드

120000

In [87]:
a=1234567 # 변수 a에 값 대입

In [88]:
if(a%1000 != 0 ) : #1000으로 나누어 나머지가 있다면
    a=int(a/1000)*1000+1000 #버린값에다 한자리를 올려 줌
else: # 나머지가 없다면
    a=int(a/1000)*1000 # 그대로 출력

In [89]:
a # 변수 a 값 출력

1235000

In [90]:
name = input("이름이 뭐니?") # 사용자로부터 이름을 입력받는 코드
if name == "홍필두": # 입력된 이름이 "홍필두"와 같다면 실행되는 조건문
    print("주인님 어서오십시요") # "주인님 어서오십시요"라는 메시지를 출력하는 코드

이름이 뭐니?홍필두
주인님 어서오십시요

In [92]:
name = input("성별이 어떻게 되나요?") # 사용자로부터 성별을 입력받는 코드입니다.

if name == "남자" : # 입력된 성별이 "남자"와 같다면 실행되는 조건문입니다.
    print("넥타이가 멋있습니다.") # "넥타이가 멋있습니다."라는 메시지를 출력하는 코드입니다.
else:
    print("립스틱색이 예쁘네요.") # "립스틱색이 예쁘네요."라는 메시지를 출력하는 코드입니다.

성별이 어떻게 되나요?남자
넥타이가 멋있습니다.

In [93]:
name = input("성별이 어떻게 되나요?") # 사용자로부터 성별을 입력받는 코드입니다.

if name == "남자" : # 입력된 성별이 "남자"와 같다면 실행되는 조건문입니다.
    print("넥타이가 멋있습니다.") # "넥타이가 멋있습니다."라는 메시지를 출력하는 코드입니다.
else:
    print("립스틱색이 예쁘네요.") # "립스틱색이 예쁘네요."라는 메시지를 출력하는 코드입니다.

성별이 어떻게 되나요?여자
립스틱색이 예쁘네요.

In [94]:
name = input("성별이 어떻게 되나요?") # 사용자로부터 성별을 입력받는 코드입니다.

if name == "남자" : # 입력된 성별이 "남자"와 같다면 실행되는 조건문입니다.
    print("넥타이가 멋있습니다.") # "넥타이가 멋있습니다."라는 메시지를 출력하는 코드입니다.
else:
    print("립스틱색이 예쁘네요.") # "립스틱색이 예쁘네요."라는 메시지를 출력하는 코드입니다.

성별이 어떻게 되나요?몰라
립스틱색이 예쁘네요.

In [95]:
price = int(input("얼마를 구매하셨나요?")) # 사용자로부터 가격을 입력받아 변수 price에 저장합니다.
if price < 10000 : # 입력된 가격이 10000원 미만이면 실행합니다.
    print("면세입니다.") # "면세입니다."라는 문구를 출력합니다.
else: # 입력된 가격이 10000원 이상이면 실행합니다.
    print("세금은 10%입니다.") # "세금은 10%입니다."라는 문구를 출력합니다.

얼마를 구매하셨나요?1000
면세입니다.

In [96]:
price = int(input("얼마를 구매하셨나요?")) # 사용자로부터 가격을 입력받아 변수 price에 저장합니다.
if price < 10000 : # 입력된 가격이 10000원 미만이면 실행합니다.
    print("면세입니다.") # "면세입니다."라는 문구를 출력합니다.
else: # 입력된 가격이 10000원 이상이면 실행합니다.
    print("세금은 10%입니다.") # "세금은 10%입니다."라는 문구를 출력합니다.

얼마를 구매하셨나요?10000
세금은 10%입니다.

In [97]:
price = int(input("얼마를 구매하셨나요?")) # 사용자로부터 가격을 입력받아 변수 price에 저장합니다.
if price < 10000 : # 입력된 가격이 10000원 미만이면 실행합니다.
    print("면세입니다.") # "면세입니다."라는 문구를 출력합니다.
else: # 입력된 가격이 10000원 이상이면 실행합니다.
    print("세금은 10%입니다.") # "세금은 10%입니다."라는 문구를 출력합니다.

얼마를 구매하셨나요?100
면세입니다.

In [98]:
price = int(input("얼마를 구매하셨나요?")) # 사용자로부터 가격을 입력받아 변수 price에 저장합니다.
if price < 10000 : # 입력된 가격이 10000원 미만이면 실행합니다.
    print("면세입니다.") # "면세입니다."라는 문구를 출력합니다.
else: # 입력된 가격이 10000원 이상이면 실행합니다.
    print("세금은 10%입니다.") # "세금은 10%입니다."라는 문구를 출력합니다.

얼마를 구매하셨나요?100원

ValueError: invalid literal for int() with base 10: '100원'

In [99]:
a=100

In [100]:
if (a==99): print("a는 99입니다")

In [101]:
if (a==100): print("a는 100입니다")

a는 100입니다

In [102]:
if (a>=100): print("a는 100이상입니다

SyntaxError: EOL while scanning string literal (2692517959.py, line 1)

In [103]:
if (a>=100): print("a는 100이상입니다)

SyntaxError: EOL while scanning string literal (609467184.py, line 1)

In [104]:
if (a>=100): print("a는 100이상입니다")

a는 100이상입니다

In [105]:
a=100

In [106]:
a=100
if (a==99): print("a는 99입니다")
if (a==100): print("a는 100입니다")
if (a>=100): print("a는 100이상입니다")
if (a<100): print("a는 100미만입니다")

a는 100입니다
a는 100이상입니다

In [107]:
a = 100 # 변수 a에 100을 저장

In [108]:
if (a == 99): # a가 99와 같으면 실행
    print("a는 99입니다") # "a는 99입니다"라는 문구를 출력

In [109]:
if (a == 100): # a가 100과 같으면 실행
    print("a는 100입니다") # "a는 100입니다"라는 문구를 출력

a는 100입니다

In [110]:
if (a >= 100): # a가 100보다 크거나 같으면 실행
    print("a는 100이상입니다") # "a는 100이상입니다"라는 문구를 출력

a는 100이상입니다

In [111]:
if (a < 100): # a가 100보다 작으면 실행
    print("a는 100미만입니다") # "a는 100미만입니다"라는 문구를 출력

In [112]:
 a="abc" # 변수 a에 문자열 abc 저장

In [113]:
if(a == "abc"): print("abc이다") # a가 문자열 abc와 같으면 문구 출력

abc이다

In [114]:
a="abc" # 변수 a에 문자열 abc 저장

In [115]:
if(a > "abc"): print("abc보다 큰문자이다") # a가 문자열 abc보다 크면 문구 출력 => 크기는 정렬시 크기로 비교

In [116]:
a="abd" # 변수 a에 문자열 abd 저장

In [117]:
if(a > "abc"): print("abc보다 큰문자이다") # a가 문자열 abc보다 크면 문구 출력

abc보다 큰문자이다

In [118]:
a="abb" # 변수 a에 문자열 abb 저장

In [119]:
if(a > "abc"): print("abc보다 큰문자이다") # a가 문자열 abc보다 크면 문구 출력

In [120]:
x = int(input("점수를 입력하셔요?")) # 사용자로부터 점수를 입력받아 변수 x에 저장

if 0 <= x and x < 60 : # 입력된 점수가 0 이상 60 미만인 경우 실행
    print("학점은 F입니다.") # "학점은 F입니다."라는 문구를 출력

if 60 <= x and x < 70 : # 입력된 점수가 60 이상 70 미만인 경우 실행
    print("학점은 D입니다.") # "학점은 D입니다."라는 문구를 출력

if 70 <= x and x < 80 : # 입력된 점수가 70 이상 80 미만인 경우 실행
    print("학점은 C입니다.") # "학점은 C입니다."라는 문구를 출력

if 80 <= x and x < 90 : # 입력된 점수가 80 이상 90 미만인 경우 실행
    print("학점은 B입니다.") # "학점은 B입니다."라는 문구를 출력

if 90 <= x and x <= 100 : # 입력된 점수가 90 이상 100 이하인 경우 실행
    print("학점은 A입니다.") # "학점은 A입니다."라는 문구를 출력

점수를 입력하셔요?88
학점은 B입니다.

In [121]:
x = int(input("점수를 입력하셔요?")) # 사용자로부터 점수를 입력받아 변수 x에 저장

if 0 <= x and x < 60 : # 입력된 점수가 0 이상 60 미만인 경우 실행
    print("학점은 F입니다.") # "학점은 F입니다."라는 문구를 출력

if 60 <= x and x < 70 : # 입력된 점수가 60 이상 70 미만인 경우 실행
    print("학점은 D입니다.") # "학점은 D입니다."라는 문구를 출력

if 70 <= x and x < 80 : # 입력된 점수가 70 이상 80 미만인 경우 실행
    print("학점은 C입니다.") # "학점은 C입니다."라는 문구를 출력

if 80 <= x and x < 90 : # 입력된 점수가 80 이상 90 미만인 경우 실행
    print("학점은 B입니다.") # "학점은 B입니다."라는 문구를 출력

if 90 <= x and x <= 100 : # 입력된 점수가 90 이상 100 이하인 경우 실행
    print("학점은 A입니다.") # "학점은 A입니다."라는 문구를 출력

점수를 입력하셔요?100
학점은 A입니다.

In [122]:
x = int(input("점수를 입력하셔요?")) # 사용자로부터 점수를 입력받아 변수 x에 저장

if 0 <= x and x < 60 : # 입력된 점수가 0 이상 60 미만인 경우 실행
    print("학점은 F입니다.") # "학점은 F입니다."라는 문구를 출력

if 60 <= x and x < 70 : # 입력된 점수가 60 이상 70 미만인 경우 실행
    print("학점은 D입니다.") # "학점은 D입니다."라는 문구를 출력

if 70 <= x and x < 80 : # 입력된 점수가 70 이상 80 미만인 경우 실행
    print("학점은 C입니다.") # "학점은 C입니다."라는 문구를 출력

if 80 <= x and x < 90 : # 입력된 점수가 80 이상 90 미만인 경우 실행
    print("학점은 B입니다.") # "학점은 B입니다."라는 문구를 출력

if 90 <= x and x <= 100 : # 입력된 점수가 90 이상 100 이하인 경우 실행
    print("학점은 A입니다.") # "학점은 A입니다."라는 문구를 출력

점수를 입력하셔요?44
학점은 F입니다.

In [123]:
x = input("영문 알파벳 한글자를 입력하셔요?") # 사용자로부터 영문 알파벳 한 글자를 입력받아 변수 x에 저장
if "a" <= x and x <= "z" : print("소문자 입니다.") # 입력된 문자가 소문자인 경우 "소문자 입니다."를 출력
if "A" <= x and x <= "Z" : print("대문자 입니다.") # 입력된 문자가 대문자인 경우 "대문자 입니다."를 출력

영문 알파벳 한글자를 입력하셔요?a
소문자 입니다.

In [124]:
x = input("영문 알파벳 한글자를 입력하셔요?") # 사용자로부터 영문 알파벳 한 글자를 입력받아 변수 x에 저장
if "a" <= x and x <= "z" : print("소문자 입니다.") # 입력된 문자가 소문자인 경우 "소문자 입니다."를 출력
if "A" <= x and x <= "Z" : print("대문자 입니다.") # 입력된 문자가 대문자인 경우 "대문자 입니다."를 출력

영문 알파벳 한글자를 입력하셔요?A
대문자 입니다.

In [125]:
x = input("영문 알파벳 한글자를 입력하셔요?") # 사용자로부터 영문 알파벳 한 글자를 입력받아 변수 x에 저장
if "a" <= x and x <= "z" : print("소문자 입니다.") # 입력된 문자가 소문자인 경우 "소문자 입니다."를 출력
if "A" <= x and x <= "Z" : print("대문자 입니다.") # 입력된 문자가 대문자인 경우 "대문자 입니다."를 출력

영문 알파벳 한글자를 입력하셔요?S
대문자 입니다.

In [126]:
a=100 # 변수 a에 100 저장

In [127]:
if a>50: # a가 50 초과이면
    print ("50보다 큰수는 50을 빼겠습니다.") # 문구 출력
        a = a - 50 # 들여쓰기가 잘못들어가 있어서 error

IndentationError: unexpected indent (722847035.py, line 3)

In [128]:
if a>50: # a가 50 초과이면
    print ("50보다 큰수는 50을 빼겠습니다.") # 문구 출력
    a = a - 50 # a에서 50을 뺀다

50보다 큰수는 50을 빼겠습니다.

In [129]:
print(a) # a 출력

50

In [130]:
if x >= 90: # 만약 입력된 점수가 90 이상이면,
    print("학점은 A입니다") # "학점은 A입니다"를 출력
elif x >= 80: # 입력된 점수가 80 이상 90 미만이면,
    print("학점은 B입니다") # "학점은 B입니다"를 출력
elif x >= 70: # 입력된 점수가 70 이상 80 미만이면,
    print("학점은 C입니다") # "학점은 C입니다"를 출력
elif x >= 60: # 입력된 점수가 60 이상 70 미만이면,
    print("학점은 D입니다") # "학점은 D입니다"를 출력
else: # 그 외의 경우(입력된 점수가 60 미만인 경우),
    print("학점은 F입니다") # "학점은 F입니다"를 출력

TypeError: '>=' not supported between instances of 'str' and 'int'

In [131]:
x=int(input("점수를 입력하셔요?(0~100)") # 점수 입력받기

SyntaxError: unexpected EOF while parsing (2114486235.py, line 1)

In [132]:
x=int(input("점수를 입력하셔요?(0~100)") # 점수 입력받기
if x >= 90: # 만약 입력된 점수가 90 이상이면,
    print("학점은 A입니다") # "학점은 A입니다"를 출력
elif x >= 80: # 입력된 점수가 80 이상 90 미만이면,
    print("학점은 B입니다") # "학점은 B입니다"를 출력
elif x >= 70: # 입력된 점수가 70 이상 80 미만이면,
    print("학점은 C입니다") # "학점은 C입니다"를 출력
elif x >= 60: # 입력된 점수가 60 이상 70 미만이면,
    print("학점은 D입니다") # "학점은 D입니다"를 출력
else: # 그 외의 경우(입력된 점수가 60 미만인 경우),
    print("학점은 F입니다") # "학점은 F입니다"를 출력

SyntaxError: invalid syntax (3451464418.py, line 2)

In [133]:
x=int(input("점수를 입력하셔요?(0~100)") # 점수 입력받기
if x >= 90: # 만약 입력된 점수가 90 이상이면,
    print("학점은 A입니다") # "학점은 A입니다"를 출력
elif x >= 80: # 입력된 점수가 80 이상 90 미만이면,
    print("학점은 B입니다") # "학점은 B입니다"를 출력
elif x >= 70: # 입력된 점수가 70 이상 80 미만이면,
    print("학점은 C입니다") # "학점은 C입니다"를 출력
elif x >= 60: # 입력된 점수가 60 이상 70 미만이면,
    print("학점은 D입니다") # "학점은 D입니다"를 출력
else: # 그 외의 경우(입력된 점수가 60 미만인 경우),
    print("학점은 F입니다") # "학점은 F입니다"를 출력

SyntaxError: invalid syntax (3451464418.py, line 2)

In [134]:
x=int(input("점수를 입력하셔요?(0~100)")) # 점수 입력받기
if x >= 90: # 만약 입력된 점수가 90 이상이면,
    print("학점은 A입니다") # "학점은 A입니다"를 출력
elif x >= 80: # 입력된 점수가 80 이상 90 미만이면,
    print("학점은 B입니다") # "학점은 B입니다"를 출력
elif x >= 70: # 입력된 점수가 70 이상 80 미만이면,
    print("학점은 C입니다") # "학점은 C입니다"를 출력
elif x >= 60: # 입력된 점수가 60 이상 70 미만이면,
    print("학점은 D입니다") # "학점은 D입니다"를 출력
else: # 그 외의 경우(입력된 점수가 60 미만인 경우),
    print("학점은 F입니다") # "학점은 F입니다"를 출력

점수를 입력하셔요?(0~100)100
학점은 A입니다

In [135]:
x=int(input("점수를 입력하셔요?(0~100)") # 점수 입력받기
if x >= 90: # 만약 입력된 점수가 90 이상이면,
    print("학점은 A입니다") # "학점은 A입니다"를 출력
elif x >= 80: # 입력된 점수가 80 이상 90 미만이면,
    print("학점은 B입니다") # "학점은 B입니다"를 출력
elif x >= 70: # 입력된 점수가 70 이상 80 미만이면,
    print("학점은 C입니다") # "학점은 C입니다"를 출력
elif x >= 60: # 입력된 점수가 60 이상 70 미만이면,
    print("학점은 D입니다") # "학점은 D입니다"를 출력
else: # 그 외의 경우(입력된 점수가 60 미만인 경우),
    print("학점은 F입니다") # "학점은 F입니다"를 출력

SyntaxError: invalid syntax (3451464418.py, line 2)

In [136]:
x=int(input("점수를 입력하셔요?(0~100)")) # 점수 입력받기
if x >= 90: # 만약 입력된 점수가 90 이상이면,
    print("학점은 A입니다") # "학점은 A입니다"를 출력
elif x >= 80: # 입력된 점수가 80 이상 90 미만이면,
    print("학점은 B입니다") # "학점은 B입니다"를 출력
elif x >= 70: # 입력된 점수가 70 이상 80 미만이면,
    print("학점은 C입니다") # "학점은 C입니다"를 출력
elif x >= 60: # 입력된 점수가 60 이상 70 미만이면,
    print("학점은 D입니다") # "학점은 D입니다"를 출력
else: # 그 외의 경우(입력된 점수가 60 미만인 경우),
    print("학점은 F입니다") # "학점은 F입니다"를 출력

점수를 입력하셔요?(0~100)44
학점은 F입니다

In [137]:
x=int(input("점수를 입력하셔요?(0~100)")) # 점수 입력받기
if x >= 90: # 만약 입력된 점수가 90 이상이면,
    print("학점은 A입니다") # "학점은 A입니다"를 출력
elif x >= 80: # 입력된 점수가 80 이상 90 미만이면,
    print("학점은 B입니다") # "학점은 B입니다"를 출력
elif x >= 70: # 입력된 점수가 70 이상 80 미만이면,
    print("학점은 C입니다") # "학점은 C입니다"를 출력
elif x >= 60: # 입력된 점수가 60 이상 70 미만이면,
    print("학점은 D입니다") # "학점은 D입니다"를 출력
else: # 그 외의 경우(입력된 점수가 60 미만인 경우),
    print("학점은 F입니다") # "학점은 F입니다"를 출력

점수를 입력하셔요?(0~100)77
학점은 C입니다

In [1]:
x=int(input("숫자를 입력하셔요?")) # 숫자 입력받기
if x % 2 == 0 : # 만약 x가 2로 나누었을 때 나머지가 0이면
    if x%4==0:  # 만약 x가 4로 나누었을 때 나머지가 0이면
        print("4의 배수인 짝수입니다(당연히 짝수)") # 문구 출력
    else: # 만약 x가 4로 나누었을 때 나머지가 0이 아니면
        print("4의 배수가 아닌 짝수입니다"); # 문구 출력
elif x%3==0: # 만약 x가 2로 나누었을 때 나머지가 0이 아니고 3으로 나누었을 때 나머지가 0 아면
    print("3의 배수인 홀수 입니다") # 문구 출력
else: # 만약 x가 2로 나누었을 때 나머지가 0이 아니고 3으로 나누었을 때 나머지가 0 이 아니면
    print ("3의 배수가 아닌 홀수입니다") # 문구 출력

숫자를 입력하셔요?12
4의 배수인 짝수입니다(당연히 짝수)

In [2]:
x=int(input("숫자를 입력하셔요?")) # 숫자 입력받기
if x % 2 == 0 : # 만약 x가 2로 나누었을 때 나머지가 0이면
    if x%4==0:  # 만약 x가 4로 나누었을 때 나머지가 0이면
        print("4의 배수인 짝수입니다(당연히 짝수)") # 문구 출력
    else: # 만약 x가 4로 나누었을 때 나머지가 0이 아니면
        print("4의 배수가 아닌 짝수입니다"); # 문구 출력
elif x%3==0: # 만약 x가 2로 나누었을 때 나머지가 0이 아니고 3으로 나누었을 때 나머지가 0 아면
    print("3의 배수인 홀수 입니다") # 문구 출력
else: # 만약 x가 2로 나누었을 때 나머지가 0이 아니고 3으로 나누었을 때 나머지가 0 이 아니면
    print ("3의 배수가 아닌 홀수입니다") # 문구 출력

숫자를 입력하셔요?22
4의 배수가 아닌 짝수입니다

In [3]:
x=int(input("숫자를 입력하셔요?")) # 숫자 입력받기
if x % 2 == 0 : # 만약 x가 2로 나누었을 때 나머지가 0이면
    if x%4==0:  # 만약 x가 4로 나누었을 때 나머지가 0이면
        print("4의 배수인 짝수입니다(당연히 짝수)") # 문구 출력
    else: # 만약 x가 4로 나누었을 때 나머지가 0이 아니면
        print("4의 배수가 아닌 짝수입니다"); # 문구 출력
elif x%3==0: # 만약 x가 2로 나누었을 때 나머지가 0이 아니고 3으로 나누었을 때 나머지가 0 아면
    print("3의 배수인 홀수 입니다") # 문구 출력
else: # 만약 x가 2로 나누었을 때 나머지가 0이 아니고 3으로 나누었을 때 나머지가 0 이 아니면
    print ("3의 배수가 아닌 홀수입니다") # 문구 출력

숫자를 입력하셔요?9
3의 배수인 홀수 입니다

In [4]:
x=int(input("숫자를 입력하셔요?")) # 숫자 입력받기
if x % 2 == 0 : # 만약 x가 2로 나누었을 때 나머지가 0이면
    if x%4==0:  # 만약 x가 4로 나누었을 때 나머지가 0이면
        print("4의 배수인 짝수입니다(당연히 짝수)") # 문구 출력
    else: # 만약 x가 4로 나누었을 때 나머지가 0이 아니면
        print("4의 배수가 아닌 짝수입니다"); # 문구 출력
elif x%3==0: # 만약 x가 2로 나누었을 때 나머지가 0이 아니고 3으로 나누었을 때 나머지가 0 아면
    print("3의 배수인 홀수 입니다") # 문구 출력
else: # 만약 x가 2로 나누었을 때 나머지가 0이 아니고 3으로 나누었을 때 나머지가 0 이 아니면
    print ("3의 배수가 아닌 홀수입니다") # 문구 출력

숫자를 입력하셔요?11
3의 배수가 아닌 홀수입니다

In [5]:
#변수 초기화
exchange_rate = 1010.12 # 미화 환율
amount = 1000000 # 환전 금액
commission_rate = 0.002 # 수수료율

In [6]:
# 환전 금액에서 수수료를 제한 금액을 계산
exchange_rate = 1010.12 # 미화 환율
amount = 1000000 # 환전 금액
commission_rate = 0.002 # 수수료율

In [7]:
# 환전 금액에서 달러 금액 계산

In [8]:
# 환전 금액에서 달러 금액 계산
dollar_amount = exchange_amount / exchange_rate

NameError: name 'exchange_amount' is not defined

In [9]:
# 변수 초기화
exchange_rate = 1010.12 # 미화 환율
amount = 1000000 # 환전 금액 100만원
commission_rate = 0.002 # 수수료율 0.2%

# 환전 금액에서 수수료를 제한 금액을 계산
commission = amount * commission_rate # 수수료 = 총액 * 수수료율
exchange_amount = amount - commission # 수수료 제한 금액  = 환전 금액 - 수수료

# 환전 금액에서 달러 금액 계산
dollar_amount = exchange_amount / exchange_rate # 달러금액 = 수수료 제한 금액 / 미화 환율

# 한화 거스름돈 계산
change = amount - commission - dollar_amount * exchange_rate # 거스름돈 = 환전 금액 - 수수료 - 달러금액 * 미화 환율

# 결과 출력
print("환전 금액: {:.2f}원".format(amount)) # 환전금액 소숫점 둘째짜리까지 출력
print("은행 수수료: {:.2f}원".format(commission)) # 은행 수수료 소숫점 둘째짜리까지 출력
print("받은 달러: {:.2f}$".format(dollar_amount)) # 받은 달러 소숫점 둘째짜리까지 출력
print("한화 거스름돈: {:.2f}원".format(change)) # 한화 거스름돈 소숫점 둘째짜리까지 출력

환전 금액: 1000000.00원
은행 수수료: 2000.00원
받은 달러: 988.00$
한화 거스름돈: 0.00원