In [1]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95} # dic_name[key]방식으로 사용

In [2]:
a["수학"] # a 변수의 수학(키)의 값 출력

95

In [3]:
a["이름"] # a 변수의 이름(키)의 값 출력

'홍길동'

In [4]:
# keys(), values(), items()는 다음과 같음

In [5]:
a.keys() # 변수 a의 key 값 출력

dict_keys(['이름', '국어', '영어', '수학'])

In [6]:
a.values() # 변수 a의 value 값 출력

dict_values(['홍길동', 100, 88, 95])

In [7]:
a.items() # 변수 a의 key와 value 값 출력

dict_items([('이름', '홍길동'), ('국어', 100), ('영어', 88), ('수학', 95)])

In [8]:
# keys(), values(), items()의 활용 방법

In [9]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95} # 변수 a에 딕셔너리 값 저장

In [10]:
for i in a.items(): # 변수 a의 key와 value 값을 하나씩 할당하여 끝까지 반복
    print (i,end=",") # 출력, end 함수로 개행 없이 , 붙여 쓰기

('이름', '홍길동'),('국어', 100),('영어', 88),('수학', 95),

In [11]:
for i in a.keys(): # 변수 a의 key 값을 하나씩 할당하여 끝까지 반복
    print (i,end=",") # 출력, end 함수로 개행 없이 , 붙여 쓰기

이름,국어,영어,수학,

In [12]:
for i in a.values(): # 변수 a의 value 값을 하나씩 할당하여 끝까지 반복
    print (i,end=",") # 출력, end 함수로 개행 없이 , 붙여 쓰기

홍길동,100,88,95,

In [13]:
# get()은 해당 키의 값을 검색하며 없는 경우의 출력내용을 지정 가능

In [14]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95} # 변수 a에 딕셔너리 값 저장

In [15]:
print(a.get("과학")) # 해당 키의 값을 검색

None

In [16]:
print(a.get("과학","없는과목입니다")) # 해당 키의 값을 검색하며 없는 경우의 출력내용을 지정 가능

없는과목입니다

In [17]:
print(a.get("수학","없는과목입니다")) # 해당 키의 값을 검색하며 없는 경우의 출력내용을 지정 가능

95

In [18]:
# 다음 문장에서 각각이 쓰인 글자에 대한 계수를 하는 예제

In [19]:
text="""안녕하셔요. 오늘은 날씨가 매우 화창합니다.
그래서 기분이 매우 좋네요
너도 기분이 좋은가요 랄라랄랄라라라라라라 abc임마""" # 문자열 저장

a=dict() #하나의 딕셔너리 자료형을 정의
for c in text: #위에 정의한 텍스트를 하나씩 추출하여 처리
    if c not in a: #해당 추출글자가 지금까지의 딕셔너리에 없다면
        a[c]=1 #그때는 최초 1값으로 시작
    else: #이 경우는 해당 추출글자의 딕셔너리가 있다
        a[c] +=1 #그럼 해당 딕셔너리 키에 해당되는 값을 하나더함
print(a) # a 출력

{'안': 1, '녕': 1, '하': 1, '셔': 1, '요': 3, '.': 2, ' ': 11, '오': 1, '늘': 1, '은': 2, '날': 1, '씨': 1, '가': 2, '매': 2, '우': 2, '화': 1, '창': 1, '합': 1, '니': 1, '다': 1, '\n': 2, '그': 1, '래': 1, '서': 1, '기': 2, '분': 2, '이': 2, '좋': 2, '네': 1, '너': 1, '도': 1, '랄': 3, '라': 7, 'a': 1, 'b': 1, 'c': 1, '임': 1, '마': 1}

In [20]:
# 앞에 출력된 내용을 가나다 순으로 다시 처리

In [21]:
# 아래서 부터는 보기 힘드니 각 글자(키)를 소트해 본다
b=dict() #딕셔너리 하나 더 정의
l=list(a.keys()) #앞에 딕서너리에 키만 뽑아 리스트를 만듦
l.sort() #해당 리스트 소트
for c in l: #각 리스트에 대하여 (결국 키값) 하나씩 뽑음
    b[c]=a[c] # 새로운 딕셔너리는 키값 순서데로 다시 만듦
print(b) # b 출력

{'\n': 2, ' ': 11, '.': 2, 'a': 1, 'b': 1, 'c': 1, '가': 2, '그': 1, '기': 2, '날': 1, '너': 1, '네': 1, '녕': 1, '늘': 1, '니': 1, '다': 1, '도': 1, '라': 7, '랄': 3, '래': 1, '마': 1, '매': 2, '분': 2, '서': 1, '셔': 1, '씨': 1, '안': 1, '오': 1, '요': 3, '우': 2, '은': 2, '이': 2, '임': 1, '좋': 2, '창': 1, '하': 1, '합': 1, '화': 1}

In [22]:
a={1,2,2,2,2,3,3,3,4,5} # 변수 a에 set() 으로 값 저장 => 중복X

In [23]:
a # a 출력

{1, 2, 3, 4, 5}

In [24]:
set(("a",1,2)) #  set() 함수를 이용해 집합을 만드는 코드

{1, 2, 'a'}

In [25]:
set("a") #  set() 함수를 이용해 집합을 만드는 코드

{'a'}

In [26]:
set({"이름":"홍길동", "국어":100, "영어":88, "수학": 95}) # 딕셔너리 타입은 키만 집합으로 변환

{'국어', '수학', '영어', '이름'}

In [27]:
# add(값) 원소 추가 시 사용함
# remove(값) 원소 제거 시 사용

In [36]:
a={1,2,3,4,5} # 변수 a에 set() 으로 값 저장 => 중복X

In [37]:
a # a 출력

{1, 2, 3, 4, 5}

In [38]:
a.add(0) # 0 원소 추가

In [39]:
a # a 출력

{0, 1, 2, 3, 4, 5}

In [40]:
a.add(2.4) # 2.4 원소 추가

In [41]:
a # a 출력

{0, 1, 2, 2.4, 3, 4, 5}

In [42]:
a.remove(3) # 3 원소 제거

In [43]:
a # a 출력

{0, 1, 2, 2.4, 4, 5}

In [44]:
# 집합연산의 합집합(|), 교집합(&), 차집합(-), 배타적 차집합(^)을 표시

In [45]:
A={1,2,3,4,5,6,7} # 변수 a에 set() 으로 값 저장 => 중복X

In [46]:
B={7,8,9,10} # 변수 b에 set() 으로 값 저장 => 중복X

In [47]:
A|B # 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [48]:
A&B # 교집합

{7}

In [49]:
A-B # 차집합

{1, 2, 3, 4, 5, 6}

In [50]:
# 부등식을 사용하여 비교가 가능함

In [51]:
{1,2,3} < {1,2} # 우변이 더 크다

False

In [52]:
{1,2,3} > {1,2} # 좌변이 더 크다

True

In [53]:
{1,2,3} >= {1,2} # 좌변이 더 크거나 같다

True

In [54]:
{1,2,3} == {1,2} # 양변이 같다

False

In [55]:
{1,2,3} >= {3,1,2} # 좌변이 더 크거나 같다

True

In [56]:
{1,2,3} == {3,1,2} # 양변이 같다

True

In [1]:
a=["a","b","c","d","e"] # 변수 a에 리스트의 값 저장

In [2]:
b={} # 변수 b에 아무것도 포함하지 않는 딕셔너리 값 저장

In [3]:
for i in range (len(a)): # 리스트 a의 길이만큼 반복
    b[i]=a[i] #a는 리스트 b는 딕셔너리, a의 값 b의 딕셔너리 value에 저장

In [5]:
b # b의 값 출력

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [6]:
a=["a","b","c","d","e"] # 변수 a에 리스트의 값 저장

In [7]:
b=enumerate(a) #여기 까지는 중간단계, enumerate() 함수는 요소를 0부터 차례의 숫자로 대입해 줌

In [8]:
b # b 출력

In [9]:
b=dict(enumerate(a)); c=list(enumerate(a)) #딕셔너리와 리스트를 만든다

In [10]:
b # b 출력

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [11]:
c # c 출력

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [12]:
a={1,2,3,4,5,6,7,8} #집합a

In [13]:
b={"a","b","c","d","e"} #집합b

In [14]:
zip(a,b) #zip만으로는 단순히 object임, zip 함수를 이용하여 a와 b를 묶음

In [15]:
c=dict(zip(a,b));d=list(zip(a,b)) #zip 함수를 이용하여 a와 b를 묶음, zip 함수를 이용하여 a와 b를 묶음

In [16]:
c # c 출력

{1: 'e', 2: 'b', 3: 'a', 4: 'c', 5: 'd'}

In [17]:
d # d 출력

[(1, 'e'), (2, 'b'), (3, 'a'), (4, 'c'), (5, 'd')]

In [18]:
a=(1,2,3,4,5,6,7,8) #튜플a

In [19]:
b=["a","b","c","d","e"] #리스트 b

In [20]:
c=dict(zip(a,b));d=list(zip(a,b))
# zip 함수를 이용하여 a와 b를 묶은 뒤, 딕셔너리 c에 저장, zip 함수를 이용하여 a와 b를 묶은 뒤, 리스트 d에 저장

In [21]:
c # c 출력

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [22]:
d # d 출력

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [23]:
def func(x): # 함수 func 정의
    return x/2 # x/2 리턴

x=(1,2,3,4,5,6)  # 함수 func 정의
for i in filter(func,x): # 튜플 x에서 func 함수에 의해 걸러진 원소를 하나씩 출력
    print(i) # 출력

1
2
3
4
5
6

In [24]:
def func(x, y):    # func 함수 정의
    return x + y   # x와 y를 더한 값을 반환

x = (1, 2, 3, 4, 5, 6)  # 튜플 x 정의
y = (7, 8, 9, 10, 11, 12)  # 튜플 y 정의

#for i in filter(func,x,y):  
# filter 함수를 사용하여 func 함수에 x와 y의 각 원소를 인자로 전달하고, 결과가 참인 원소만 걸러내는 코드(에러 발생)

for i in map(func, x, y):  # map 함수를 사용하여 func 함수에 x와 y의 각 원소를 인자로 전달하여 
                            #계산한 결과값으로 이루어진 iterable 객체를 생성하는 코드
    print(i)  # iterable 객체에서 하나씩 원소를 가져와서 출력하는 코드

8
10
12
14
16
18

In [25]:
x = (1, 2, 3, 4, 5, 6)  # 튜플 x 정의
y = (7, 8, 9, 10, 11, 12)  # 튜플 y 정의

for i in map(lambda x, y: x + y, x, y):  # map 함수를 사용하여 x와 y의 각 원소를 더하는 lambda 함수를 정의하여, 
            #lambda 함수에 x와 y의 각 원소를 인자로 전달하여 계산한 결과값으로 이루어진 iterable 객체를 생성하는 코드
    print(i)  # iterable 객체에서 하나씩 원소를 가져와서 출력하는 코드

8
10
12
14
16
18

In [26]:
a=[1,2,3] # a 리스트 생성

In [27]:
b=a # 컬렉션을 대입하면 컬렉션의 값이 복사되는 것이 아니라 주소가 복사됨

In [28]:
b[2]=5 # b의 두번째 주소에 5 대입

In [29]:
a # a 출력 => a 두번째 값이 바뀐 것을 확인

[1, 2, 5]

In [30]:
b # b 출력

[1, 2, 5]

In [31]:
b[1]=3 # b 첫번째 주소에 3 대입

In [32]:
a # a 출력 => a 첫번째 값이 바뀐 것을 확인

[1, 3, 5]

In [33]:
a=[1,2,3] # a에 리스트 값대입

In [34]:
b=a[:] # 옅은 복사

In [35]:
b[2]=5 # b의 두번쨰 자리에 5 대입 => b만 바뀜

In [37]:
a # a 출력

[1, 2, 3]

In [38]:
b # b 출력

[1, 2, 5]

In [39]:
a=[[1,2],3,4] # a에 리스트 값 대입

In [40]:
b=a.copy() # a를 b에 복사

In [41]:
b # b 출력

[[1, 2], 3, 4]

In [42]:
b[0][1]=3 # b의 0행 1열의 값에 3 저장

In [43]:
b # b 출력

[[1, 3], 3, 4]

In [44]:
a # 컬렉션안에 컬렉션이 있는경우 copy만으로 2레벨이상의
    #리스트까지 복사되지 않는다

[[1, 3], 3, 4]

In [45]:
a=[[1,2],3,4] # a에 리스트 값 대입

In [46]:
b=a[:] # a를 b에 복사

In [47]:
b # b 출력

[[1, 2], 3, 4]

In [48]:
b[0][1]=3 # b의 0행 1열의 값에 3 저장

In [49]:
a #b=a[:]도 마찬가지

[[1, 3], 3, 4]

In [50]:
import copy as c  # copy 모듈을 c라는 이름으로 import하는 코드

a = [[1, 2], 3, 4]  # 리스트 a를 정의
b = c.deepcopy(a)  # 리스트 a를 deepcopy하여 새로운 리스트 b를 생성하는 코드
b[0][1] = 3  # 리스트 b의 첫 번째 원소의 두 번째 원소 값을 3으로 변경하는 코드
print(a, b)  # 리스트 a와 b를 출력하는 코드

[[1, 2], 3, 4] [[1, 3], 3, 4]