In [1]:
a=[1,2,3,4,5] # 변수 a에 리스트 지정

In [2]:
a[0],a[1],a[2],a[3],a[4] # 첨자 0부터 ~ (n-1)까지의 변수로 지정하여 출력

(1, 2, 3, 4, 5)

In [3]:
a=[11,"abc",12.3333,"안녕",2+3j]  # 변수 a에 여러 형태의 리스트 지정

In [4]:
a[0],a[1],a[2],a[3],a[4] # 첨자 0부터 ~ (n-1)까지의 변수로 지정하여 출력

(11, 'abc', 12.3333, '안녕', (2+3j))

In [5]:
a[1]=1234;a[4]="홍길동" # 변수 a의 1번째 자리의 값에 1234 저장, 4번째 자리에 "홍길동" 문자열 저장

In [6]:
a # a에 저장된 값 출력

[11, 1234, 12.3333, '안녕', '홍길동']

In [7]:
score=[90,80,70,60,30] # 점수 리스트
sum=0 # 총점 초기화
for s in score: # 점수 리스트를 반복문으로 처리
    print("점수(",s,")") # 각 점수 출력
    sum+=s # 총점 누적
print("총점:",sum); # 총점 출력

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [8]:
a=[1,2,3,4,5] # 변수 a에 리스트 값 저장

In [9]:
a[0],a[-5] # 역방향 지정 가능 a[-5] = a[0]

(1, 1)

In [10]:
a[1],a[-4] # a[-4] = a[1]

(2, 2)

In [11]:
a[2],a[-3] # a[-3] = a[2]

(3, 3)

In [12]:
a[3],a[-2] # a[-2] = a[3]

(4, 4)

In [13]:
a[4],a[-1] # a[-1] = a[4]

(5, 5)

In [14]:
[begin:end:step]

SyntaxError: invalid syntax (3139380504.py, line 1)

In [15]:
a=[1,2,3,4,5,6,7,8,9,10]

In [16]:
a[2:8] # 2부터 8보다 작을 때까지(2,3,4,5,6,7)

[3, 4, 5, 6, 7, 8]

In [17]:
a[:4] #처음부터 4보다 작을 때까지(0,1,2,3 주의 a[4]제외)

[1, 2, 3, 4]

In [18]:
a[5:] #5부터 끝까지

[6, 7, 8, 9, 10]

In [19]:
a[0:6:3] #0부터 6보다 작을때 까지(6은 제외 0,3) 3씩 증가하여

[1, 4]

In [20]:
a=[[1,2,3],[4,5,6],[7,8,9]] # 리스트로 구성된 리스트

In [21]:
a[2] # a의 2번째 리스트 출력

[7, 8, 9]

In [22]:
a[2][2] # a의 2번째 리스트의 2번째 값 출력

9

In [23]:
 a[1][3] # 첨자 범위를 벗어남

IndexError: list index out of range

In [24]:
a[1][2] # a의 1번째 리스트의 2번째 값 출력

6

In [25]:
a=[[1,2],[3,4,5],6] # 가변 형태의 리스트

In [26]:
a # a 출력

[[1, 2], [3, 4, 5], 6]

In [27]:
a[2] # a의 2번째 값 출력

6

In [28]:
a[1] # a의 1번째 리스트 출력

[3, 4, 5]

In [29]:
a=[ n * 3 for n in range (1,10)] # a라는 리스트를 선언하고, range(1, 10)까지의 값(n)을 3배한 값으로 초기화하여 할당함

In [30]:
a

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [31]:
a=[ n * 3 for n in range (1,10) if n % 2 ==0 ]
# 1부터 10중 2로 나누어 나머지가 0인(짝수인) 숫자로
# 리스트를 구성하여 그 요소 하나하나에 3을 곱한 것을 구함

In [32]:
a

[6, 12, 18, 24]

In [33]:
def titleprint(): # titleprint() 타이틀 함수 정의
    pass # pass

def itemprint(name,kortotal,engtotal,mathtotal): # 아이템을 출력하는 함수 정의
    pass # pass

def tailprint(): # tailprint() 끝(꼬리)에 출력하는 함수 정의
    pass # pass

#데이터 2차원 리스트
score=[["나연",100,90,100], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["정연",90,90,100], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["모모",80,70,90], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["사나",90,90,80], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["지효",100,80,80], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["미나",50,90,90], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["다현",80,60,100], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["채영",70,80,90], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["쯔위",100,90,90]] # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입

#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램
titleprint() # 함수 실행
for one_student in score: # 0~(9-1)까지 반복
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat]) #이름, 국어, 영어, 수학점수 출력
tailprint() # tailprint() 함수 실행

In [42]:
def titleprint(): # titleprint() 타이틀 함수 정의
    print("="*50) # "="" 50번 반복
    print("이름\t국어\t영어\t수학\t총점\t평균") # 타이틀 출력
    print("="*50) # "="" 50번 반복
    
def itemprint(name,kor,eng,mat): # 아이템을 출력하는 함수 정의
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3) # 이름, 국어, 영어, 수학, 합, 평균 출력
              
def tailprint(): # tailprint() 끝(꼬리)에 출력하는 함수 정의
    totkor=0 # 국어 총합 변수 totkor에 초기값으로 0 저장
    toteng=0 # 영어 총합 변수 toteng 초기값으로 0 저장
    totmat=0 # 수학 총합 변수 totmat 초기값으로 0 저장
    for one_student in score:# scor의 리스트에 있는 값들을 할당
        totkor+=one_student[kor] # 각 값을 누적합
        toteng+=one_student[eng] # 각 값을 누적합
        totmat+=one_student[mat] # 각 값을 누적합
    print("="*50) # "="" 50번 반복
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat)//9,"\t",(totkor+toteng+totmat)/3//9)
    # 모든 총점의 합의 인원 수 별 평균, 모든 총점의 합의 인원 수 별 과목 별 평균
    print("="*50) # "="" 50번 반복

#데이터 2차원 리스트
score=[["나연",100,90,100], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["정연",90,90,100], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["모모",80,70,90], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["사나",90,90,80], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["지효",100,80,80], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["미나",50,90,90], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["다현",80,60,100], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["채영",70,80,90], # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입
["쯔위",100,90,90]] # 이름, 국어, 영어, 수학 점수 리스트 값으로 대입

#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3 # 각각의 변수에 값 저장

#여기부터 프로그램
titleprint() # 함수 실행
for one_student in score: # 0~(9-1)까지 반복
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat]) #이름, 국어, 영어, 수학점수 출력
tailprint() # tailprint() 함수 실행

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 257 	 85.0
==================================================

In [43]:
a=[1,2,3,4,5] # a에 리스트 값 저장

In [44]:
a # a 출력

[1, 2, 3, 4, 5]

In [45]:
del a[2] #2번 리스트요소 삭제

In [46]:
a # a 출력

[1, 2, 4, 5]

In [47]:
a.clear() #리스트 전부 지움

In [48]:
a # a 출력

[]

In [49]:
del a #a공간도 지움

In [50]:
a # a 출력

NameError: name 'a' is not defined

In [51]:
del a #a공간도 지움

NameError: name 'a' is not defined

In [52]:
a.append(1) #리스트가 정의되어 있지 않은 경우 추가는불가

NameError: name 'a' is not defined

In [53]:
 a=[] #빈 리스트를 정의

In [54]:
a.append(1) #1값의 리스트요소를 추가

In [55]:
a.append(3) #3값의 리스트요소를 추가

In [56]:
a.append(5) #5값의 리스트요소를 추가

In [57]:
a # a 출력

[1, 3, 5]

In [58]:
a=[4,5,6] #기존 a를 무시하고 다시 정의

In [59]:
a.append(10) #10값의 리스트요소를 추가

In [60]:
a # a 출력

[4, 5, 6, 10]

In [61]:
a=[1,2,3,4,5] # a에 리스트 값 저장

In [62]:
a.append(6) #append는 맨 뒤에 하나의 요소를 삽입

In [63]:
a # a 출력

[1, 2, 3, 4, 5, 6]

In [64]:
a.insert(3,12) # 리스트 3번째 자리에 12 추가

In [65]:
a # a 출력

[1, 2, 3, 12, 4, 5, 6]

In [67]:
a.insert(4,15) # 리스트 4번째 자리에 15 추가

In [68]:
a # a 출력

[1, 2, 3, 12, 15, 15, 4, 5, 6]

In [69]:
a.insert(3,1) # 리스트 3번째 자리에 1 추가

In [70]:
a # a 출력

[1, 2, 3, 1, 12, 15, 15, 4, 5, 6]

In [71]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] # a에 리스트 값 저장

In [72]:
a[5:5]=[1,2,3,4,5,6] #5에서 5까지 영역에 해당 리스트 값을 대입

In [73]:
a # a 출력

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [74]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] # a에 리스트 값 저장

In [75]:
a[5]=[1,2,3,4,5,6] #5요소에 이 리스트를 대입(큰 차이)

In [76]:
a # a 출력

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [77]:
a=[1,2,3] # a에 리스트 값 저장

In [78]:
b=[4,5,6] # b에 리스트 값 저장

In [79]:
a=a+b # a에 a+b 값 저장 => 리스트 값 합치기

In [80]:
a # a 출력

[1, 2, 3, 4, 5, 6]

In [81]:
a=[1,2,3] # a에 리스트 값 저장

In [82]:
b=[4,5,6] # b에 리스트 값 저장

In [83]:
a.extend(b) # 두 개의 리스트 병합

In [84]:
a # a 출력

[1, 2, 3, 4, 5, 6]

In [85]:
# 리스트를 지우기 위하여 list.remove(원하는값), del(list[n:m]), list.clear()를 사용

In [86]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # a에 리스트 값 저장

In [87]:
a # a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [88]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제

In [89]:
a # a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [90]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제

In [91]:
a # a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]

In [92]:
a[5]=[] #다섯 번째에 빈 값[]이 들어 있는 리스트를 만듬(주의: a[5:5]=[]라고 해야 함)

In [93]:
a # a 출력

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [94]:
a[2:4]=[] # a의 두번째랑 네번째 값 사이에 리스트를 만듬

In [95]:
a # a 출력

[1, 2, 4, [], 5, 6, 7, 7, 8]

In [96]:
del(a[4]) # a의 네번째 값 삭제

In [97]:
a # a 출력

[1, 2, 4, [], 6, 7, 7, 8]

In [98]:
del(a[3]) # a의 세번째 값 삭제

In [99]:
a # a 출력

[1, 2, 4, 6, 7, 7, 8]

In [100]:
a.clear() #다 지우나 빈 값에 리스트가 남음

In [101]:
a # a 출력

[]

In [102]:
del(a) #리스트 정의까지 삭제

In [103]:
a # a 출력

NameError: name 'a' is not defined

In [104]:
# list.pop(n)은 해당위치를 리턴하고 삭제함 n이 없다면 맨 마지막 요소 리턴

In [105]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # a에 리스트 값 저장

In [106]:
a.pop() # 마지막 값 리턴

8

In [107]:
a # a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [108]:
a.pop() # 마지막 값 리턴

7

In [109]:
a # a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7]

In [110]:
a.pop(3) # 3번째 값 리턴

3

In [111]:
a # a 출력

[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]

In [112]:
a.pop(6) # 6번째 값 리턴

6

In [113]:
a # a 출력

[1, 2, 3, 4, 4, 5, 7, 7, 7]

In [114]:
a.pop(0) # 0번째 값 리턴

1

In [115]:
a # a 출력

[2, 3, 4, 4, 5, 7, 7, 7]

In [116]:
#list.index(값) 해당 값이 처음 나오는 위치를 리턴
#list.count(값) 해당 값이 몇 번 나오는지 리턴

In [117]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # a에 리스트 값 저장

In [118]:
a.index(7) # 7이 처음 나오는 위치를 리턴

8

In [119]:
a.index(8) #값 8의 위치는 12(0부터 시작)

12

In [120]:
a.index(4) #값 4의 위치는 4(0부터 시작)

4

In [121]:
a.count(7) #7은 4번 나옴

4

In [122]:
# min(list),max(list) 리스트중 최소값과 최대값을 구함
# len(list) 리스트의 크기(개수)를 구함

In [123]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]

In [124]:
min(a) # 리스트 a 원소의 최소값 출력

1

In [125]:
max(a) # 리스트 a 원소의 최대값 출력

8

In [126]:
len(a) # 리스트 a 원소의 길이 출력

13

In [127]:
# list.sort() 리스트 내용을 정렬함
# list.reverse() 리스트 내용을 역으로 보여줌

In [128]:
a=[1,8,5,6,2,4,5,2,6,9,4] # a에 리스트 값 저장

In [129]:
a.reverse() # 리스트 내용을 역으로 보여줌

In [131]:
a # a 출력

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [132]:
a.sort() # 리스트 내용을 정렬

In [133]:
a # a 출력

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [134]:
import random as r
def titleprint():
    pass

def itemprint(name,kor,eng,mat):
    pass

def tailprint():
    pass

one_person=[]
score=[]
for i in range(100):
one_person.append("name"+str(i)) #이름
one_person.append(r.randrange(10,100)) #국어 10부터 100까지 임의에 값을 추출
one_person.append(r.randrange(10,100)) #영어
one_person.append(r.randrange(10,100)) #수학
score.append(one_person[:]) #값을 복사해서 추가함에 주의할 것
one_person.clear()

#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램
titleprint()
for one_student in score:

IndentationError: expected an indented block (1281415319.py, line 14)

In [135]:
a=(1,8,5,6,2,4,5,2,6,9,4) # a에 튜플 값 저장

In [136]:
a # a 출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [137]:
a[5] # 5번째 위치 값 출력

4

In [138]:
a[3:5] # 3~4번째 위치 값 출력

(6, 2)

In [139]:
a[3:8] # 3~7번째 위치 값 출력

(6, 2, 4, 5, 2)

In [140]:
a*2 # 튜플의 값 두번 반복하여 저장

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [141]:
# 값을 대입하거나 변경하거나 구조를 지우는 것은 불가능

In [142]:
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [143]:
a[1]=5 #값 변경불가

TypeError: 'tuple' object does not support item assignment

In [144]:
del a[4] #변수 지우기 불가

TypeError: 'tuple' object doesn't support item deletion

In [145]:
a.append(10) # 변수 추가 불가

AttributeError: 'tuple' object has no attribute 'append'

In [146]:
def location(): # 위치 함수
    latitude = 2, 17403 # 위도
    longitude=41,40338 #경도
    return latitude,longitude #이런방식의 리턴은 튜플로 반환

a=location() # 변수 a에 위치함수 리턴 값 저장
print(a) # a 출력

((2, 17403), (41, 40338))