In [1]:
i=0 #반복 카운터, 초기화
sum=0 #누적할 변수, 초기화
while i <100 : #0부터 100까지 실행,만일 실행횟수는 100회
    i+=1 #i=0+1, i=1+1, i=2+1, i=3+1,i는 1씩 증가
    sum = sum + i #sum=0+1, sum=1+2, sum=3+3,sum=6+4 ... => sum은 더한 값이 누적됨
print("sum=",sum) #while 반복을 빠져 나와서 출력

sum= 5050

In [2]:
i=0 # 변수 i에 0 대입
sum=0 # 변수 sum에 0 대입
while i <100 : # i는 0~99까지
    i+=1 # i에 1d을 더한다
    sum = sum + i # sum에 i를 더한다
print("sum=",sum) # sum 출력

sum= 5050

In [3]:
i=0 # 변수 i에 0 대입
sum=0 # 변수 sum에 0 대입
while i <100 : # i는 0~99까지
    sum = sum + i # sum에 i를 더한다
    i+=1 # i에 1d을 더한다
print("sum=",sum) # sum 출력 => 0을 먼저 더하기 때문에 위 식보다 100이 작은 수 출력

sum= 4950

In [4]:
i=0 # 변수 i에 0 대입
sum=0 # 변수 sum에 0 대입
while i <101 : # i는 0~100까지
    sum = sum + i # sum에 i를 더한다
    i+=1 # i에 1d을 더한다
print("sum=",sum) # sum 출력 => 범위가 늘어났기 때문에 위 식보다 100이 큰 수 출력

sum= 5050

In [5]:
i=0 # 변수 i에 초기값 0 저장

In [6]:
for a in ["1",2,"3",55]: # 반복문에서 a 변수에 ["1", 2, "3", 55] 리스트의 요소들이 차례로 대입
    print("a[",i,"] 자료형:",type(a)," 값:",a) # i 변수를 사용하여 현재 반복문에서 몇 번째 요소를 처리하는지 인덱스를 출력
    i+=1 # 반복문이 한 번 실행될 때마다 i 변수의 값을 1씩 증가시킴

a[ 0 ] 자료형: <class 'str'>  값: 1
a[ 1 ] 자료형: <class 'int'>  값: 2
a[ 2 ] 자료형: <class 'str'>  값: 3
a[ 3 ] 자료형: <class 'int'>  값: 55

In [9]:
for i in range(1, 10, 1): # 1부터 10-1까지 +1씩 반복하는 반복문
    print(i,",",end="") # i 변수와 쉼표를 출력하고, print 함수가 줄바꿈을 하지 않도록 end 매개변수를 빈 문자열로 설정
                        # 마지막으로 줄바꿈 설정

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [10]:
for i in range(10): # range(10)만 있을 경우 => 0부터 10-1까지 +1씩 반복하는 반복문
    print(i,",",end="") # i 변수와 쉼표를 출력하고, print 함수가 줄바꿈을 하지 않도록 end 매개변수를 빈 문자열로 설정
                        # 마지막으로 줄바꿈 설정

0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [11]:
for i in range(1, 10): # range(1, 10) => 1부터 10-1까지 +1씩 반복하는 반복문
    print(i,",",end="") # i 변수와 쉼표를 출력하고, print 함수가 줄바꿈을 하지 않도록 end 매개변수를 빈 문자열로 설정
                        # 마지막으로 줄바꿈 설정

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [12]:
for i in range(1, 10, 2): # range(1, 10, 2) => 1부터 10-1까지 +2씩 반복하는 반복문
    print(i,",",end="") # i 변수와 쉼표를 출력하고, print 함수가 줄바꿈을 하지 않도록 end 매개변수를 빈 문자열로 설정
                        # 마지막으로 줄바꿈 설정

1 ,3 ,5 ,7 ,9 ,

In [13]:
for i in range(10, 0, -1): # range(1, 10, 2) => 10부터 0+1까지 -1씩 반복하는 반복문
    print(i,",",end="") # i 변수와 쉼표를 출력하고, print 함수가 줄바꿈을 하지 않도록 end 매개변수를 빈 문자열로 설정
                        # 마지막으로 줄바꿈 설정

10 ,9 ,8 ,7 ,6 ,5 ,4 ,3 ,2 ,1 ,

In [14]:
for i in range(10): # 0~9 까지 반복
    if(i==3): # 만약 i가 3이라면
        break # 해당 루프 탈출
    print(i,",",end="") # i 변수와 쉼표를 출력하고, print 함수가 줄바꿈을 하지 않도록 end 매개변수를 빈 문자열로 설정

0 ,1 ,2 ,

In [15]:
for i in range(10): # 0~9 까지 반복
    if(i==3): # 만약 i가 3이라면
        continue # 문장 아래를 실행하지 않고 반복문의 처음으로 이동 후 계속 반복수행
    print(i,",",end="") # i 변수와 쉼표를 출력하고, print 함수가 줄바꿈을 하지 않도록 end 매개변수를 빈 문자열로 설정

0 ,1 ,2 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [16]:
i=0;sum=0 # 각 변수에 초기 값으로 0 저장

In [17]:
while True: # 무한루프 실행
    i+=1;sum+=i # i에 +1, sum에 +i 각각 저장
    if(i==100): break #만약 i가 100이라면 반복문 탈출

In [18]:
print("i=",i,"sum=",sum) # 그때의 i, sum 값 출력

i= 100 sum= 5050

In [19]:
for i in range(1,121): # 변수 i는 1~120까지 반복
    print("*",end="") # * 출력하고,  print 함수가 줄바꿈을 하지 않도록 end 매개변수를 빈 문자열로 설정 
    if(i%30==0): print(end="\n") # 만약 i가 30의 배수 일때마다 개행

******************************
******************************
******************************
******************************

In [20]:
for i in range(1, 10):          # i가 1부터 9까지 반복
    for j in range(1, 10):      # j가 1부터 9까지 반복
        print(i, "*", j, "=", i*j)   # 구구단 계산 결과 출력
    print("********************")  # 한 단이 끝나면 * 출력

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
********************
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
********************
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
********************
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
********************
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
********************
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
********************
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
********************
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
********************
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
********************

In [21]:
for i in range(1, 10):           # i가 1부터 9까지 반복
    for j in range(i, 10):       # j가 i부터 9까지 반복
        print("*", end="")       # 별표 출력
    print(end="\n")             # 한 줄 띄기

*********
********
*******
******
*****
****
***
**
*

In [22]:
i = 1                           # 변수 i에 1을 할당
while True:                     # 무한 반복문 실행
    j = i                       # j에 i 값을 할당
    while True:                 # 무한 반복문 실행
        if j == 10: break      # j 값이 10이면 안쪽 while문 종료
        print("*", end="")     # 별표 출력
        j += 1                  # j 값 1 증가
    if i == 10: break          # i 값이 10이면 바깥쪽 while문 종료
    print(end="\n")             # 한 줄 띄기
    i += 1                      # i 값 1 증가

*********
********
*******
******
*****
****
***
**
*

In [23]:
on = 1 # 변수 on에 1을 할당
for LastDay in [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]: # 12개의 월별 마지막 날짜를 원소로 갖는 리스트 생성 후 순회
    print(Mon,"월 :", end="") # Mon 변수와 월 정보를 출력
    for Day in range(1, LastDay+1): # 1부터 해당 월의 마지막 날짜까지 반복
        print(Day, end=",") # Day 값을 출력하고, 쉼표를 이용해 구분
    print(end="\n") # 한 줄 띄기
    Mon += 1 # Mon 변수에 1을 더해 다음 월로 이동

NameError: name 'Mon' is not defined

In [24]:
Mon = 1 # 변수 on에 1을 할당
for LastDay in [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]: # 12개의 월별 마지막 날짜를 원소로 갖는 리스트 생성 후 순회
    print(Mon,"월 :", end="") # Mon 변수와 월 정보를 출력
    for Day in range(1, LastDay+1): # 1부터 해당 월의 마지막 날짜까지 반복
        print(Day, end=",") # Day 값을 출력하고, 쉼표를 이용해 구분
    print(end="\n") # 한 줄 띄기
    Mon += 1 # Mon 변수에 1을 더해 다음 월로 이동

1 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
2 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,
3 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
4 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
5 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
6 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
7 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
8 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
9 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
10 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
11 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
12 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,

In [25]:
for i in range(2,10,3): # 2단부터 9단까지 3씩 증가시키며 반복
    for j in range(2,10): # 2단부터 9단까지 3씩 증가시키며 반복
        print(i,"*",j,"=",i*j,end="\t") # 구구단 계산 결과를 출력
        print(i+1,"*",j,"=",i*j,end="\t") # 구구단 계산 결과를 출력
        if(i+2!=10): print(i+2,"*",j,"=",i*j,end="\n" )# i+2가 10이 아닌 경우, 마지막 곱셈 결과를 출력
        else: print(end="\n") # i+2가 10이 아닌 경우, 마지막 곱셈 결과를 출력
    print(end="\n") # 한 단의 출력이 끝난 후, 개행

2 * 2 = 4	3 * 2 = 4	4 * 2 = 4
2 * 3 = 6	3 * 3 = 6	4 * 3 = 6
2 * 4 = 8	3 * 4 = 8	4 * 4 = 8
2 * 5 = 10	3 * 5 = 10	4 * 5 = 10
2 * 6 = 12	3 * 6 = 12	4 * 6 = 12
2 * 7 = 14	3 * 7 = 14	4 * 7 = 14
2 * 8 = 16	3 * 8 = 16	4 * 8 = 16
2 * 9 = 18	3 * 9 = 18	4 * 9 = 18

5 * 2 = 10	6 * 2 = 10	7 * 2 = 10
5 * 3 = 15	6 * 3 = 15	7 * 3 = 15
5 * 4 = 20	6 * 4 = 20	7 * 4 = 20
5 * 5 = 25	6 * 5 = 25	7 * 5 = 25
5 * 6 = 30	6 * 6 = 30	7 * 6 = 30
5 * 7 = 35	6 * 7 = 35	7 * 7 = 35
5 * 8 = 40	6 * 8 = 40	7 * 8 = 40
5 * 9 = 45	6 * 9 = 45	7 * 9 = 45

8 * 2 = 16	9 * 2 = 16
8 * 3 = 24	9 * 3 = 24
8 * 4 = 32	9 * 4 = 32
8 * 5 = 40	9 * 5 = 40
8 * 6 = 48	9 * 6 = 48
8 * 7 = 56	9 * 7 = 56
8 * 8 = 64	9 * 8 = 64
8 * 9 = 72	9 * 9 = 72

In [26]:
for i in range(2,5): # 2부터 4까지의 숫자를 반복
    for j in range(2,10): # 2부터 4까지의 숫자를 반복
        print(i,"*",j,"=",i*j,end="\t") # i와 j를 곱한 결과를 출력하며, 출력 끝에 탭 문자를 추가
        print(i+3,"*",j,"=",i*j,end="\t") # i+3과 j를 곱한 결과를 출력하며, 출력 끝에 탭 문자를 추가
        if(i+6!=10): print(i+6,"*",j,"=",i*j,end="\n") # i+6이 10이 아니면 i+6과 j를 곱한 결과를 출력하고, 출력 끝에 개행 문자를 추가합니다.
        else: print(end="\n") # i+6이 10이라면 개행 문자만 출력
    print(end="\n") # 각 단이 끝날 때마다 개행 문자를 출력

2 * 2 = 4	5 * 2 = 4	8 * 2 = 4
2 * 3 = 6	5 * 3 = 6	8 * 3 = 6
2 * 4 = 8	5 * 4 = 8	8 * 4 = 8
2 * 5 = 10	5 * 5 = 10	8 * 5 = 10
2 * 6 = 12	5 * 6 = 12	8 * 6 = 12
2 * 7 = 14	5 * 7 = 14	8 * 7 = 14
2 * 8 = 16	5 * 8 = 16	8 * 8 = 16
2 * 9 = 18	5 * 9 = 18	8 * 9 = 18

3 * 2 = 6	6 * 2 = 6	9 * 2 = 6
3 * 3 = 9	6 * 3 = 9	9 * 3 = 9
3 * 4 = 12	6 * 4 = 12	9 * 4 = 12
3 * 5 = 15	6 * 5 = 15	9 * 5 = 15
3 * 6 = 18	6 * 6 = 18	9 * 6 = 18
3 * 7 = 21	6 * 7 = 21	9 * 7 = 21
3 * 8 = 24	6 * 8 = 24	9 * 8 = 24
3 * 9 = 27	6 * 9 = 27	9 * 9 = 27

4 * 2 = 8	7 * 2 = 8
4 * 3 = 12	7 * 3 = 12
4 * 4 = 16	7 * 4 = 16
4 * 5 = 20	7 * 5 = 20
4 * 6 = 24	7 * 6 = 24
4 * 7 = 28	7 * 7 = 28
4 * 8 = 32	7 * 8 = 32
4 * 9 = 36	7 * 9 = 36