In [1]:
a=10 # a에 10 대입

In [2]:
b=1200 # b에 1200 대입

In [3]:
c=+1200 # c에 +1200 대입

In [4]:
d=-1234 # d에 -1234 대입

In [5]:
print("a=",a ," b=",b ," c=",c, " d=",d) # 각 값 출력

a= 10  b= 1200  c= 1200  d= -1234

In [6]:
a=21098134232408921340891340984312089423089341208943120934120894312089 # a에 값 대입

In [7]:
b=234412307893421789078903455107893412093412089341208934120894320893421 # b에 값 대입

In [8]:
print("a+b=", a+b) # a+b 출력

a+b= 255510442125830710419794796092205501516501430550152055055015215205510

In [9]:
print("a+b=", a+b)

a+b= 255510442125830710419794796092205501516501430550152055055015215205510

In [10]:
print("a*b=", a*b) # a*b 출력

a*b= 4945662337664182251045508647662854964228779292407290431545377548887919021506299614458775856747962183641984855519033366861090951680866469

In [11]:
0b1010 # 0b~는 2진수의 값 -> 2진수 1010의 10진수 값 출력

10

In [12]:
0b1111 # 2진수 1111의 10진수 값 출력

15

In [13]:
0b0001 # 2진수 0001의 10진수 값 출력

1

In [14]:
0b0201 # 2진수는 0,1 만 있어야하는데 2가 있기때문에 error

SyntaxError: invalid digit '2' in binary literal (4097528594.py, line 1)

In [15]:
0x10 # 0x~는 16진수의 값 -> 16진수 10의 10진수 값 출력

16

In [16]:
0x1a # 16진수 1a의 10진수 값 출력

26

In [17]:
0x2f # 16진수 2f의 10진수 값 출력

47

In [18]:
0x3z  # 16진수의 범위 초과 error

SyntaxError: invalid syntax (3986162713.py, line 1)

In [19]:
print(hex(12));print(oct(22));print(bin(33)) # hex():16진수, bin():2진수, oct():8진수로 변환

0xc
0o26
0b100001

In [20]:
9.46e12 # 9.46 * 10의 12승

9460000000000.0

In [21]:
9.46e12 + 121312324176834127678963412341298 # 실수형과 정수형의 계산

1.2131232417683412e+32

In [22]:
 a=1+2i

SyntaxError: invalid syntax (3700144954.py, line 1)

In [23]:
a=1+2i # 실제 복소수에서는 허수부분이 i로 표기되지만

SyntaxError: invalid syntax (1681953706.py, line 1)

In [24]:
a=1+2j # 파이썬에서는 허수부분을 j로 사용함을 유의

In [25]:
b=1-2j # 변수 b에 1-2j 복소수 대입

In [26]:
print(a+b, a*b) # 복소수를 더한 값과 곱한 값을 출력

(2+0j) (5+0j)

In [27]:
a="aaa" # 변수 a에 문자열 대입

In [28]:
b="bbb" # 변수 b에 문자열 대입

In [29]:
 a+b # 문자열의 합은 문자열의 붙여쓰기

'aaabbb'

In [30]:
a*b # 문자열끼리의 곱은 존재하지 않지만

TypeError: can't multiply sequence by non-int of type 'str'

In [31]:
a*3 # 문자과 정수 n의 곱은 문자열 n번 반복을 의미

'aaaaaaaaa'

In [32]:
b*5 # 문자과 정수 n의 곱은 문자열 n번 반복을 의미

'bbbbbbbbbbbbbbb'

In [33]:
# 호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다

In [34]:
print ('호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.')

호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.

In [35]:
print (" 호랑이가 \"떡하나 주면 안잡아 먹지\" 라고 말했습니다."

SyntaxError: unexpected EOF while parsing (3328965462.py, line 1)

In [36]:
# 호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다

In [37]:
print ('호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.') # 큰따옴표를 출력하고 싶을 때 홑따옴표 안에 사용

호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.

In [38]:
print (" 호랑이가 \"떡하나 주면 안잡아 먹지\" 라고 말했습니다.") # 큰따옴표 출력하고 싶을 때 \" 사용

 호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.

In [39]:
#I say " I Love You"

In [40]:
print ("I say \"I Love You\"") # 큰따옴표 출력하고 싶을 때 \" 사용

I say "I Love You"

In [41]:
print ("I say "I Love You"") # 큰따옴표를 두번 쓰는 것은 error

SyntaxError: invalid syntax (832799594.py, line 1)

In [42]:
print("""오늘 열심히 파이썬을 공부했습니다. 
내일도 열심히 파이썬을 공부할 것입니다. 
그래서 일등할 것입니다""") # 따옴표 세 개를 사용하면 다음 세 개의 따옴표가 나올 때 까지 줄을 바꾸어 사용할 수 있음

오늘 열심히 파이썬을 공부했습니다.
내일도 열심히 파이썬을 공부할 것입니다.
그래서 일등할 것입니다

In [43]:
print("오늘 열심히 파이썬을 공부했습니다. \
내일도 열심히 파이썬을 공부할 것입니다. \
그래서 일등할 것입니다") # 문자열의 합이나 명령어 연장(\)방법으로 표현할 수 있음

오늘 열심히 파이썬을 공부했습니다. 내일도 열심히 파이썬을 공부할 것입니다. 그래서 일등할 것입니다

In [44]:
a = "오늘은" "즐거운" "일요일" # 작은 문자열을 나열하여 사용할 수 있음

In [45]:
print (a) # 나열된 문자를 붙여서 출력

오늘은즐거운일요일

In [46]:
print("오늘 열심히 파이썬을 공부했습니다. \n"
"내일도 열심히 파이썬을 공부할 것입니다. \n"
"그래서 일등할 것입니다") # 작은 문자열을 나열하여 사용할 수 있음

오늘 열심히 파이썬을 공부했습니다.
내일도 열심히 파이썬을 공부할 것입니다.
그래서 일등할 것입니다

In [47]:
a = True # 변수 a는 부울형 True 대입

In [48]:
b = False # 변수 b는 부울형 False 대입

In [49]:
a and b # 둘 다 True일때만 True

False

In [50]:
a or b # 둘 중 하나만 True이면 True

True

In [51]:
a and not b # not b는 True이기 때문에

True

In [52]:
a= 0 # 변수 a에 0을 대입

In [53]:
b = a==0 # a가 0이랑 같기 때문에 True를 변수 b에 대입

In [54]:
b # b의 값 출력

True

In [55]:
a = True # 변수 a는 부울형 True 대입

In [56]:
b = False # 변수 b는 부울형 False 대입

In [57]:
if 1 > 2 and a and b or b or a:  # 만약 1이 2보다 크지 않고 a와 b가 참이고 또는 b나 a 중 하나가 참이면,
    print("참")  # "참"을 출력합니다.
else:  # 그렇지 않으면
    print("거짓")  # "거짓"을 출력합니다.

참

In [58]:
rainbow = ["빨","주","노","초","파","남","보"] # 여러개의 값을 모아서 저장

In [59]:
 print(rainbow) # 컬렉션 값 출력

['빨', '주', '노', '초', '파', '남', '보']

In [60]:
rainbow = ["빨강","주황","노랑","초록","파랑","남색","보라"] # 여러개의 값을 모아서 저장

In [61]:
for color in rainbow:  # rainbow 리스트의 각 항목을 color 변수에 할당하면서 반복합니다.
    print(color, "색")  # color 변수와 문자열 "색"을 출력합니다.

빨강 색
주황 색
노랑 색
초록 색
파랑 색
남색 색
보라 색